/Programacion_ATS_Programacion_java/metodoBurbuja/nbproject/private/
/Programacion_ATS_Programacion_java/metodoBurbuja/build/
/Programacion_ATS_Programacion_java/ordanamientoInsercion/nbproject/private/
/Programacion_ATS_Programacion_java/ordanamientoInsercion/build/
/Programacion_ATS_Programacion_java/busquedaSecuencial/nbproject/private/
/Programacion_ATS_Programacion_java/busquedaSecuencial/build/
/Programacion_ATS_Programacion_java/Matrices/nbproject/private/
/Programacion_ATS_Programacion_java/Matrices/build/
